<!--Create a title on the left with h1 Tienda online and an icon on the right with -->
<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="col-md-12">
                <div class="pull-left">
                    <h1><a href="/botigamvcphp/index.php">Tienda online</a></h1>
                </div>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-shopping-cart"
                        onclick="location.href='index.php?controller=UsuarioCesta&action=iniciarModificarCesta'"></span>
                    <!--Account icon-->
                    <span class="glyphicon glyphicon-user"
                        onclick="location.href='index.php?controller=Usuario&action=iniciarModificarUsuario'"></span>
                    <!--Orders icon-->
                    <span class="glyphicon glyphicon-list-alt"
                        onclick="location.href='index.php?controller=UsuarioPedido&action=iniciarMostrarPedidos'"></span>
                </div>

            </div>
        </div>
    </div>
    <div>
    </div>

    
