<!--Create a title on the left with h1 Tienda online and an icon on the right with -->
<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="col-md-12">
                <div class="pull-left">
                    <h1><a href="/index.php">Tienda online</a></h1>
                </div>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-shopping-cart"
                        onclick="location.href='index.php?controller=Cesta&action=iniciarModificarCesta'"></span>
                    <!--Create a link through php-->
                </div>

            </div>
        </div>
    </div>
    <div>
    </div>

    
